<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <tx:annotation-driven/>
    <context:component-scan base-package="project.util"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties"/>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingLocations">
            <list>
                <value>classpath:Car.hbm.xml</value>
                <value>classpath:MotorShow.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.config.driver}"/>
        <property name="url" value="${jdbc.config.url}"/>
        <property name="username" value="${jdbc.config.user}"/>
        <property name="password" value="${jdbc.config.password}"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource"  ref="dataSource" />
    </bean>

    <bean id="carDao" class="project.newDao.CarDaoImpl">
        <constructor-arg value="project.model.Car"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="motorShowDao" class="project.newDao.MotorShowDaoImpl">
        <constructor-arg value="project.model.MotorShow"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="springUtils" class="project.util.SpringUtils"/>



    <bean id="carService"
          class="project.service.CarServiceImpl">
        <property name="carDao" ref="carDao"/>
    </bean>

    <bean id="motorShowService"
          class="project.service.MotorShowServiceImpl">

        <property name="motorShowDao" ref="motorShowDao"/>
    </bean>

    <bean id="pageService"
          class="project.service.PageServiceImpl">
        <property name="carService" ref="carService"/>
        <property name="motorShowService" ref="motorShowService"/>
    </bean>

    <bean id="carDelete"
          class="project.controllers.processors.imps.CarDelete">
        <property name="carService" ref="carService"/>
    </bean>

    <bean id="carEdition"
          class="project.controllers.processors.imps.CarEdition">
        <property name="carService" ref="carService"/>
        <property name="motorShowService" ref="motorShowService"/>
    </bean>

    <bean id="carSave"
          class="project.controllers.processors.imps.CarSave">
        <property name="carService" ref="carService"/>
        <property name="motorShowService" ref="motorShowService"/>
    </bean>

    <bean id="carShowAll"
          class="project.controllers.processors.imps.CarShowAll">
        <property name="carService" ref="carService"/>
        <property name="pageService" ref="pageService"/>
    </bean>

    <bean id="motorShowDelete"
          class="project.controllers.processors.imps.MotorShowDelete">
        <property name="motorShowService" ref="motorShowService"/>
    </bean>

    <bean id="motorShowEdition"
          class="project.controllers.processors.imps.MotorShowEdition">
        <property name="motorShowService" ref="motorShowService"/>
    </bean>

    <bean id="motorShowSave"
          class="project.controllers.processors.imps.MotorShowSave">
        <property name="motorShowService" ref="motorShowService"/>
    </bean>

    <bean id="motorShowShowAll"
          class="project.controllers.processors.imps.MotorShowShowAll">
        <property name="motorShowService" ref="motorShowService"/>
        <property name="pageService" ref="pageService"/>
    </bean>

    <bean id="motorShowAllCarsShow"
          class="project.controllers.processors.imps.MotorShowAllCarsShow">
        <property name="carService" ref="carService"/>
        <property name="pageService" ref="pageService"/>
    </bean>

    <bean id="defaultUrl"
          class="project.controllers.processors.imps.DefaultUrl">
    </bean>

    <bean id="controller" class="project.controllers.MainProcessor">
        <property name="map" ref="processors"/>
    </bean>

    <util:map id="processors">
        <entry key="/motorshows" value-ref="motorShowShowAll"/>
        <entry key="/motorshowedition" value-ref="motorShowEdition"/>
        <entry key="/mssave" value-ref="motorShowSave"/>
        <entry key="/deleteshow" value-ref="motorShowDelete"/>
        <entry key="/mscars" value-ref="motorShowAllCarsShow"/>
        <entry key="/carsave" value-ref="carSave"/>
        <entry key="/deletecar" value-ref="carDelete"/>
        <entry key="/cars" value-ref="carShowAll"/>
        <entry key="/caredition" value-ref="carEdition"/>
        <entry key="/" value-ref="defaultUrl"/>
    </util:map>
</beans>